---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { getCollection } from 'astro:content';
import HMF from '~/layouts/HMF.astro';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await getCollection("blog", (entry)=> entry.data.draft !== true )).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<HMF title={import.meta.env.SITE_TITLE} 
description={import.meta.env.SITE_DESCRIPTION}>
	<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<time datetime={post.data.pubDate.toISOString()}>
									{post.data.pubDate.toLocaleDateString('en-us', {
										year: 'numeric',
										month: 'short',
										day: 'numeric',
									})}
								</time>
								<a href={`/blog/${post.slug}`}>{post.data.title}</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	
</HMF>


